/* Variables  */
:root {
    --hit-basic-primary-400: #4c689cff;
    --hit-basic-primary-500: #002771ff;
    --hit-basic-primary-600: #09204aff;
    --hit-basic-warning-600: #eaa00cff;
  }
  body {
    color: var(--hit-basic-primary-600);
  }
  /* Color Styles  */
  main[data-theme=light]{
    --hit-text-000: #ffffffff;
    --hit-text-200: #cbcdd4ff;
    --hit-text-300: #9295a5ff;
    --hit-text-400: #61667cff;
    --hit-text-500: #03102fff;
    --hit-grey-50: #fcfcfdff;
    --hit-grey-100: #f2f2f4ff;
    --hit-grey-200: #e5e6eaff;
    --hit-grey-300: #cbcdd4ff;
    --hit-grey-400: #b2b4bfff;
    --hit-grey-500: #7e8294ff;
    --hit-grey-600: #61667cff;
    --hit-grey-700: #484d61ff;
    --hit-grey-800: #343848ff;
    --hit-background-blue: #f8f9fcff;
    --hit-background-white: #ffffffff;
    --hit-contrast-black: #000000ff;
    --hit-contrast-white: #ffffffff;
    --hit-blue-50-tr: #2465de1a;
    --hit-blue-50: #e5eeffff;
    --hit-blue-100: #ccdefeff;
    --hit-blue-200: #b3cdfeff;
    --hit-blue-300: #80acfeff;
    --hit-blue-400: #4c8afdff;
    --hit-blue-500: #2465deff;
    --hit-purple-50-tr: #b14aed1a;
    --hit-purple-50: #f7edfdff;
    --hit-purple-100: #efdbfbff;
    --hit-purple-200: #e8c9faff;
    --hit-purple-300: #d8a4f6ff;
    --hit-purple-400: #c880f2ff;
    --hit-purple-500: #b14aedff;
    --hit-red-50-tr: #ff6b6c1a;
    --hit-red-50: #fff0f0ff;
    --hit-red-100: #ffe1e2ff;
    --hit-red-200: #ffc4c4ff;
    --hit-red-300: #ffa6a7ff;
    --hit-red-400: #ff8989ff;
    --hit-red-500: #ff6b6cff;
    --hit-success-50-tr: #4dab801a;
    --hit-success-50: #e7f8f0ff;
    --hit-success-100: #d0f1e1ff;
    --hit-success-200: #b8e9d2ff;
    --hit-success-300: #89dbb5ff;
    --hit-success-400: #59cc97ff;
    --hit-success-500: #4dab80ff;
    --hit-warning-50-tr: #f4b8401a;
    --hit-warning-50: #fff9ecff;
    --hit-warning-100: #fff3daff;
    --hit-warning-200: #ffecc7ff;
    --hit-warning-300: #ffe0a2ff;
    --hit-warning-400: #ffd47dff;
    --hit-warning-500: #f4b840ff;
    --hit-warning-600: #eaa00cff;
    --hit-error-50-tr: #c420211a;
    --hit-error-50: #f9e9e9ff;
    --hit-error-100: #f3d2d3ff;
    --hit-error-200: #e7a6a6ff;
    --hit-error-300: #dc797aff;
    --hit-error-400: #d04d4dff;
    --hit-error-500: #dc3545ff;
  
  
    --hit-primary-50-tr: var(--hit-blue-50-tr);
    --hit-primary-50: var(--hit-blue-50);
    --hit-primary-100: var(--hit-blue-100);
    --hit-primary-200: var(--hit-blue-200);
    --hit-primary-300: var(--hit-blue-300);
    --hit-primary-400: var(--hit-blue-400);
    --hit-primary-500: var(--hit-blue-500);
  
  }
  
  @tailwind base;
  @tailwind components;
  @tailwind utilities;