---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Orchid UI">
	<main>
		<h1 class="font-medium">Components</h1>
			<div class="grid lg:grid-cols-3 gap-3">
				
		  </div>
	</main>
</Layout>
<style>
</style>
