---
import Layout from '../layouts/Layout.astro';
import Color from '../components/foundation/Color.vue';
---
<Layout title="Foundation Orchid UI">
	<main>
		<h1 class="font-medium mb-5">Foundation</h1>
		<Color />
	</main>
</Layout>
<style>
</style>
