---
import Layout from '../layouts/Layout.astro';
import Index from '../components/Index.vue';
---
<Layout title="Welcome to Astro.">
	<main>
		<Index client:only />
	</main>
</Layout>

<style>
</style>
