---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Orchid UI">
	<main class="w-full flex">
		<div class="mx-auto text-center">
			<h1 class="text-oc-primary">
				<a href="/storybook/">
					Open Storybook
				</a>
			</h1>
		</div>
	</main>
</Layout>
<style>
</style>
