---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Orchid UI">
	<main class="w-full flex">
		<div class="mx-auto text-center">
			<h1 class="font-medium mb-5">Landing Page</h1>
			<div class="grid md:grid-cols-3 gap-5">
				<a href="/foundation">Foundation</a>
				<a href="/components">Components</a>
				<a href="/case-studies">Case Studies</a>
			</div>
		</div>
	</main>
</Layout>
<style>
</style>
