@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');/* Variables  */
:root {
    --hitpay-color: #002771;

    --oc-blue-50-tr: #2465de1a;
    --oc-blue-50: #e5eeff;
    --oc-blue-100: #ccdefe;
    --oc-blue-200: #b3cdfe;
    --oc-blue-300: #80acfe;
    --oc-blue-400: #4c8afd;
    --oc-blue-500: #2465de;

    --oc-purple-50-tr: var(--oc-blue-50-tr);
    --oc-purple-50: #f7edfd;
    --oc-purple-100: #efdbfb;
    --oc-purple-200: #e8c9fa;
    --oc-purple-300: #d8a4f6;
    --oc-purple-400: #c880f2;
    --oc-purple-500: #b14aed;

    --oc-red-50-tr: #ff6b6c1a;
    --oc-red-50: #fff0f0;
    --oc-red-100: #ffe1e2;
    --oc-red-200: #ffc4c4;
    --oc-red-300: #ffa6a7;
    --oc-red-400: #ff8989;
    --oc-red-500: #ff6b6c;

    --oc-success-50-tr: #4dab801a;
    --oc-success-50: #e7f8f0;
    --oc-success-100: #d0f1e1;
    --oc-success-200: #b8e9d2;
    --oc-success-300: #89dbb5;
    --oc-success-400: #59cc97;
    --oc-success-500: #4dab80;

    --oc-warning-50-tr: #f4b8401a;
    --oc-warning-50: #fff9ec;
    --oc-warning-100: #fff3da;
    --oc-warning-200: #ffecc7;
    --oc-warning-300: #ffe0a2;
    --oc-warning-400: #ffd47d;
    --oc-warning-500: #f4b840;
    --oc-warning-600: #eaa00c;

    --oc-error-50-tr: #c420211a;
    --oc-error-50: #f9e9e9;
    --oc-error-100: #f3d2d3;
    --oc-error-200: #e7a6a6;
    --oc-error-300: #dc797a;
    --oc-error-400: #d04d4d;
    --oc-error-500: #dc3545;
  
    /* Background Color */
    --oc-grey-10: #f8f9fc; 
    --oc-grey-50: #fcfcfd;
    --oc-grey-100: #f2f2f4;
    --oc-grey-200: #e5e6ea;
    /* Text Color */
    --oc-grey-300: #cbcdd4;
    --oc-grey-400: #b2b4bf;
    --oc-grey-500: #9295a5;
    --oc-grey-600: #61667c;
    --oc-grey-700: #484d61;
    --oc-grey-800: #343848;
    --oc-grey-900: #03102f;


    --oc-contrast-black: #000000; 
    --oc-contrast-white: #ffffff;

  }

  /* EXPERIMENTAL */
  .dark-mode{
    --oc-blue-500: #60a5fa;
    --oc-blue-400: #3b82f6;
    --oc-blue-300: #2563eb;
    --oc-blue-200: #1d4ed8;
    --oc-blue-100: #1e40af;
    --oc-blue-50: #1e3a8a;
    --oc-blue-50-tr: #172554;

    --oc-purple-500: #c084fc;
    --oc-purple-400: #a855f7;
    --oc-purple-300: #9333ea;
    --oc-purple-200: #7e22ce;
    --oc-purple-100: #6b21a8;
    --oc-purple-50: #581c87;
    --oc-purple-50-tr: #3b0764;

    --oc-red-500: #f87171;
    --oc-red-400: #ef4444;
    --oc-red-300: #dc2626;
    --oc-red-200: #b91c1c;
    --oc-red-100: #991b1b;
    --oc-red-50: #7f1d1d;
    --oc-red-50-tr: #450a0a;

    --oc-success-500: #4ade80;
    --oc-success-400: #22c55e;
    --oc-success-300: #16a34a;
    --oc-success-200: #15803d;
    --oc-success-100: #166534;
    --oc-success-50: #14532d;
    --oc-success-50-tr: #052e16;

    --oc-warning-500: #facc15;
    --oc-warning-400: #eab308;
    --oc-warning-300: #ca8a04;
    --oc-warning-200: #a16207;
    --oc-warning-100: #854d0e;
    --oc-warning-50: #713f12;
    --oc-warning-50-tr: #422006;

    --oc-error-500: #f87171;
    --oc-error-400: #ef4444;
    --oc-error-300: #dc2626;
    --oc-error-200: #b91c1c;
    --oc-error-100: #991b1b;
    --oc-error-50: #7f1d1d;
    --oc-error-50-tr: #450a0a;
  
    /* Background Color */
    --oc-grey-900: #f8fafc; 
    --oc-grey-800: #f1f5f9;
    --oc-grey-700: #e2e8f0;
    --oc-grey-600: #cbd5e1;
    /* Text Color */
    --oc-grey-500: #94a3b8;
    --oc-grey-400: #64748b;
    --oc-grey-300: #475569;
    --oc-grey-200: #334155;
    --oc-grey-100: #1e293b;
    --oc-grey-50: #0f172a;
    --oc-grey-10: #020617;


    --oc-contrast-black: #ffffff; 
    --oc-contrast-white: #000000;

  }


  main{
    
    /* PLEASE USE THIS VARIABLE FIRST */
    --oc-text-000: var(--oc-contrast-white); /* if dark mode use --oc-contrast-black */
    --oc-text-200: var(--oc-grey-300);
    --oc-text-300: var(--oc-grey-500);
    --oc-text-400: var(--oc-grey-600);
    --oc-text-500: var(--oc-grey-900);

    --oc-background-dark: var(--oc-grey-10);
    --oc-background-light: var(--oc-contrast-white);  /* if dark mode use --oc-contrast-black */

    /* RENAME Variables */
    /* background light blue to background dark */
    /* background white to background light */
    /* primary-10 to grey 10 */

    /* ACCENT COLOR */

    --oc-primary-50-tr: var(--oc-blue-50-tr);
    --oc-primary-50: var(--oc-blue-50);
    --oc-primary-100: var(--oc-blue-100);
    --oc-primary-200: var(--oc-blue-200);
    --oc-primary-300: var(--oc-blue-300);
    --oc-primary-400: var(--oc-blue-400);
    --oc-primary-500: var(--oc-blue-500);

    --oc-accent-1-50-tr: var(--oc-purple-50-tr);
    --oc-accent-1-50: var(--oc-purple-50);
    --oc-accent-1-100: var(--oc-purple-100);
    --oc-accent-1-200: var(--oc-purple-200);
    --oc-accent-1-300: var(--oc-purple-300);
    --oc-accent-1-400: var(--oc-purple-400);
    --oc-accent-1-500: var(--oc-purple-500);

    --oc-accent-2-50-tr: var(--oc-red-50-tr);
    --oc-accent-2-50: var(--oc-red-50);
    --oc-accent-2-100: var(--oc-red-100);
    --oc-accent-2-200: var(--oc-red-200);
    --oc-accent-2-300: var(--oc-red-300);
    --oc-accent-2-400: var(--oc-red-400);
    --oc-accent-2-500: var(--oc-red-500);


    --oc-border-xs: .125rem;
    --oc-border-sm: .25rem;
    --oc-border-md: .75rem;
    --oc-border-lg: 1rem;
    --oc-border-xl: 1.25rem;

    /* uncommend if used */
    /* --oc-border-2xl: 1.5rem;
    --oc-border-3xl: 1.75rem; */
    /* --oc-border-4xl: 2rem; */
    /* --oc-border-5xl: 2.5rem;  */

    --oc-border-full: 9999px;

    color: var(--oc-text-500);
    background-color: var(--oc-background-light);
  }


  .layout-payment {
    --oc-sidebar-background: var(--oc-primary-50);
    --oc-sidebar-menu-hover: var(--oc-primary-50-tr);
    --oc-sidebar-menu-active: var(--oc-primary-100);
    --oc-sidebar-menu-active-text: var(--oc-primary-500);
  }

  .layout-pos {
    --oc-sidebar-background: var(--oc-warning-50);
    --oc-sidebar-menu-hover: var(--oc-warning-50-tr);
    --oc-sidebar-menu-active: var(--oc-warning-100);
    --oc-sidebar-menu-active-text: var(--oc-warning-500);
  }

  .layout-online-store {
    --oc-sidebar-background: var(--oc-success-50);
    --oc-sidebar-menu-hover: var(--oc-success-50-tr);
    --oc-sidebar-menu-active: var(--oc-success-100);
    --oc-sidebar-menu-active-text: var(--oc-success-500);
  }



  @tailwind base;

  @layer base {
    main{
      font-family: 'Inter', sans-serif;
    }
    h1 {
      @apply text-xl;
    }
    h2 {
      @apply text-lg;
    }
    h3 {
      @apply text-base;
    }
    h4 {
      @apply text-sm;
    }
    h5 {
      @apply text-xs;
    }
    h6 {
      @apply text-xs;
    }
    body {
      @apply text-base;
    }
  }
  
  @tailwind components;
  @tailwind utilities;
  


