/* Variables  */
:root {
    /* mode default */

    --oc-blue-50tr: #2465de1a;
    --oc-blue-50: #e5eeff;
    --oc-blue-100: #ccdefe;
    --oc-blue-200: #b3cdfe;
    --oc-blue-300: #80acfe;
    --oc-blue-400: #4c8afd;
    --oc-blue-500: #2465de;

    --oc-purple-50: #f7edfd;
    --oc-purple-100: #efdbfb;
    --oc-purple-200: #e8c9fa;
    --oc-purple-300: #d8a4f6;
    --oc-purple-400: #c880f2;
    --oc-purple-500: #b14aed;


    --oc-red-50tr: #ff6b6c1a;
    --oc-red-50: #fff0f0;
    --oc-red-100: #ffe1e2;
    --oc-red-200: #ffc4c4;
    --oc-red-300: #ffa6a7;
    --oc-red-400: #ff8989;
    --oc-red-500: #ff6b6c;

  
    --oc-success-50tr: #4dab801a;
    --oc-success-50: #e7f8f0;
    --oc-success-100: #d0f1e1;
    --oc-success-200: #b8e9d2;
    --oc-success-300: #89dbb5;
    --oc-success-400: #59cc97;
    --oc-success-500: #4dab80;

    --oc-warning-50tr: #f4b8401a;
    --oc-warning-50: #fff9ec;
    --oc-warning-100: #fff3da;
    --oc-warning-200: #ffecc7;
    --oc-warning-300: #ffe0a2;
    --oc-warning-400: #ffd47d;
    --oc-warning-500: #f4b840;
    --oc-warning-600: #eaa00c;

    --oc-error-50tr: #c420211a;
    --oc-error-50: #f9e9e9;
    --oc-error-100: #f3d2d3;
    --oc-error-200: #e7a6a6;
    --oc-error-300: #dc797a;
    --oc-error-400: #d04d4d;
    --oc-error-500: #dc3545;

    --oc-border-sm: .125rem;
    --oc-border-default: .25rem;
    --oc-border-lg: .5rem;
    --oc-border-full: 9999px;

    --oc-contrast-black: #000000; 
    --oc-contrast-white: #ffffff;

    /* dinamic colors */
    /* Background Color */
    --oc-grey-10: #f8f9fc; 
    --oc-grey-50: #fcfcfd;
    --oc-grey-100: #f2f2f4;
    --oc-grey-200: #e5e6ea;
    /* Text Color */
    --oc-grey-300: #cbcdd4;
    --oc-grey-400: #b2b4bf;
    --oc-grey-500: #9295a5;
    --oc-grey-600: #61667c;
    --oc-grey-700: #484d61;
    --oc-grey-800: #343848;
    --oc-grey-900: #03102f;
    /* DEFAULT PRIMARY COLOR TO BLUE */
    /* Primary Text Color / Button Text */
    --oc-primary-50tr: var(--oc-blue-50tr);
    --oc-primary-50: var(--oc-blue-50);
    --oc-primary-100: var(--oc-blue-100);
    --oc-primary-200: var(--oc-blue-200);
    /* Primary Color / Button Color */
    --oc-primary-300: var(--oc-blue-300);
    --oc-primary-400: var(--oc-blue-400);
    --oc-primary-500: var(--oc-blue-500);
    /* Used Variable */
    --oc-text-000: var(--oc-contrast-white); /* if dark mode use --oc-contrast-black */
    --oc-text-200: var(--oc-grey-300);
    --oc-text-300: var(--oc-grey-500);
    --oc-text-400: var(--oc-grey-600);
    --oc-text-500: var(--oc-grey-900);
    /* Used  Variable */
    --oc-background-dark: var(--oc-grey-10);
    --oc-background-light: var(--oc-contrast-white);  /* if dark mode use --oc-contrast-black */

    /* RENAME RECOMENDATION */
    /* background light blue to background dark */
    /* background white to background light */
    /* primary-10 to grey 10 */
    
  }

  main {
    color: var(--oc-text-500);
    background-color: var(--oc-background-white);
  }
  
  @tailwind base;

  @layer base {
    h1 {
      @apply text-xl;
    }
    h2 {
      @apply text-lg;
    }
    h3 {
      @apply text-base;
    }
    h4 {
      @apply text-sm;
    }
    h5 {
      @apply text-xs;
    }
    h6 {
      @apply text-xs;
    }
    main {
      @apply text-base;
    }
  }
  
  @tailwind components;
  @tailwind utilities;
  