@import 'https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap';
@import './scss/variables.scss';
@import './scss/components.scss';
body{
    //  default
    color: var(--oc-text-500);
    background-color: var(--oc-background-light);
}
@tailwind base;
@layer base {
    main {
        font-family: 'Inter', sans-serif;
    }
    h1 {
        @apply text-xl;
    }

    h2 {
        @apply text-lg;
    }

    h3 {
        @apply text-base;
    }

    h4 {
        @apply text-sm;
    }

    h5 {
        @apply text-xs;
    }

    h6 {
        @apply text-xs;
    }

    body {
        @apply text-base;
    }
}

@tailwind components;
@tailwind utilities;

@import './scss/transition.scss';
