.layout-payment {
  --oc-sidebar-background: var(--oc-background-dark);
  --oc-sidebar-menu-hover: var(--oc-accent-1-50-tr);
  --oc-sidebar-menu-active: var(--oc-accent-1-50-tr);
  --oc-sidebar-menu-title: var(--oc-accent-1-200);
  --oc-sidebar-menu-active-text: var(--oc-accent-1-500);
  --oc-sidebar-menu-active-icon: var(--oc-accent-1-400);
  --oc-sidebar-menu-active-icon-active: var(--oc-primary-500);
}

.layout-pos {
  --oc-sidebar-background: #fbfbf9;
  --oc-sidebar-menu-hover: #f5f4ef;
  --oc-sidebar-menu-active: #f5f4ef;
  --oc-sidebar-menu-title: #a6b3cd;
  --oc-sidebar-menu-active-text: #03102f;
  --oc-sidebar-menu-active-icon: #5a514b;
  --oc-sidebar-menu-active-icon-active: #fdb012;
}

.layout-online-store {
  --oc-sidebar-background: #fdfcfd;
  --oc-sidebar-menu-hover: #fdf2f9;
  --oc-sidebar-menu-active: #fdf2f9;
  --oc-sidebar-menu-title: #a6b3cd;
  --oc-sidebar-menu-active-text: #03102f;
  --oc-sidebar-menu-active-icon: #51434C;
  --oc-sidebar-menu-active-icon-active: #ec6abc;
}
