
.layout-payment {
   --oc-sidebar-background: var(--oc-background-dark);
   --oc-sidebar-menu-hover: var(--oc-accent-3-50-tr);
   --oc-sidebar-menu-active: var(--oc-accent-3-50-tr);
   --oc-sidebar-menu-title: var(--oc-accent-3-200);
   --oc-sidebar-menu-active-text: var(--oc-accent-3-500);
   --oc-sidebar-menu-active-icon: var(--oc-accent-3-400);
   --oc-sidebar-menu-active-icon-active: var(--oc-primary-500);
}

.layout-pos {
   --oc-sidebar-background: #FBFBF9;
   --oc-sidebar-menu-hover: #F5F4EF;
   --oc-sidebar-menu-active: #F5F4EF;
   --oc-sidebar-menu-title: #A6B3CD;
   --oc-sidebar-menu-active-text: #03102F;
   --oc-sidebar-menu-active-icon: #5A514B;
   --oc-sidebar-menu-active-icon-active: #FDB012;
}

.layout-online-store {
   --oc-sidebar-background: #F9FBF9;
   --oc-sidebar-menu-hover: #EFF5F0;
   --oc-sidebar-menu-active: #EFF5F0;
   --oc-sidebar-menu-title: #A6B3CD;
   --oc-sidebar-menu-active-text: #03102F;
   --oc-sidebar-menu-active-icon: #566650;
   --oc-sidebar-menu-active-icon-active: #0EA81B;
}

