/* Variables  */
:root {
  --oc-gray-10: #f8f9fc;
  --oc-gray-50: #fcfcfd;
  --oc-gray-100: #f2f2f4;
  --oc-gray-200: #e5e6ea;
  --oc-gray-300: #cbcdd4;
  --oc-gray-400: #b2b4bf;
  --oc-gray-500: #9295a5;
  --oc-gray-600: #61667c;
  --oc-gray-700: #484d61;
  --oc-gray-800: #343848;
  --oc-gray-900: #03102f;

  --oc-text-100: #ffffff;
  --oc-text-200: #cbcdd4;
  --oc-text-300: #9295a5;
  --oc-text-400: #61667c;
  --oc-text-500: #03102f;

  --oc-background-dark: #f8f9fc;
  --oc-background-light: #ffffff;

  --oc-primary-50-tr: #2465de1a;
  --oc-primary-50: #e5eeff;
  --oc-primary-100: #ccdefe;
  --oc-primary-200: #b3cdfe;
  --oc-primary-300: #80acfe;
  --oc-primary-400: #4c8afd;
  --oc-primary-500: #2465de;

  /* accent color */

  --oc-accent-1-50-tr: rgba(0, 39, 113, 0.04);
  --oc-accent-1-50: #f5f6f9;
  --oc-accent-1-100: #ccd4e3;
  --oc-accent-1-200: #a6b3cd;
  --oc-accent-1-300: #8093b8;
  --oc-accent-1-400: #4c689c;
  --oc-accent-1-500: #002771;
  --oc-accent-1-600: #09204a;

  --oc-accent-2-50-tr: #0027710a;
  --oc-accent-2-50: #f7edfd;
  --oc-accent-2-100: #efdbfb;
  --oc-accent-2-200: #e8c9fa;
  --oc-accent-2-300: #d8a4f6;
  --oc-accent-2-400: #c880f2;
  --oc-accent-2-500: #b14aed;

  --oc-accent-3-50-tr: #ff6b6c1a;
  --oc-accent-3-50: #fff0f0;
  --oc-accent-3-100: #ffe1e2;
  --oc-accent-3-200: #ffc4c4;
  --oc-accent-3-300: #ffa6a7;
  --oc-accent-3-400: #ff8989;
  --oc-accent-3-500: #ff6b6c;

  /* System Color */

  --oc-success-50-tr: #4dab801a;
  --oc-success-50: #e7f8f0;
  --oc-success-100: #d0f1e1;
  --oc-success-200: #b8e9d2;
  --oc-success-300: #89dbb5;
  --oc-success-400: #59cc97;
  --oc-success-500: #4dab80;

  --oc-warning-50-tr: #f4b8401a;
  --oc-warning-50: #fff9ec;
  --oc-warning-100: #fff3da;
  --oc-warning-200: #ffecc7;
  --oc-warning-300: #ffe0a2;
  --oc-warning-400: #ffd47d;
  --oc-warning-500: #f4b840;
  --oc-warning-600: #eaa00c;

  --oc-error-50-tr: #c420211a;
  --oc-error-50: #f9e9e9;
  --oc-error-100: #f3d2d3;
  --oc-error-200: #e7a6a6;
  --oc-error-300: #dc797a;
  --oc-error-400: #d04d4d;
  --oc-error-500: #dc3545;

  --button-primary-default: linear-gradient(180deg, #4179e2 0%, #1f5bcc 100%);
  --button-primary-hover: linear-gradient(180deg, #4179e2 0%, #2f6ddf 100%);
  --button-primary-pressed: linear-gradient(180deg, #3873e1 0%, #4179e2 100%);
  --button-primary-disabled: linear-gradient(180deg, #567fcd 0%, #3662b5 100%);

  --button-secondary-default: linear-gradient(180deg, #fff 0%, #f2f2f2 100%);
  --button-secondary-hover: linear-gradient(180deg, #fff 0%, #fafafa 100%);
  --button-secondary-pressed: linear-gradient(180deg, #fafafa 0%, #fff 100%);
  --button-secondary-disabled: linear-gradient(
    180deg,
    #fcfcfc 0%,
    #f7f7f7 100%
  );

  --button-destructive-default: linear-gradient(
    180deg,
    #e44e5c 0%,
    #cc2334 100%
  );
  --button-destructive-hover: linear-gradient(180deg, #e44e5c 0%, #dc3747 100%);
  --button-destructive-pressed: linear-gradient(
    180deg,
    #dc3747 0%,
    #e44e5c 100%
  );
  --button-destructive-disabled: linear-gradient(
    180deg,
    #c66c75 0%,
    #a84851 100%
  );

  /* utility */
  --oc-border-xs: 0.125rem;
  --oc-border-sm: 0.25rem;
  --oc-border-md: 0.5rem;
  --oc-border-lg: 0.75rem;
  --oc-border-xl: 1rem;
  --oc-border-xxl: 1.25rem;
  --oc-border-full: 9999px;

  --oc-shadow-normal: 0px 3px 22px 0px rgba(38, 42, 50, 0.09);
}

/* EXPERIMENTAL : reverse of light mode  */
.dark {
  // waiting dark mode from UI/UX

  --oc-gray-900: #f8fafc;
  --oc-gray-800: #f1f5f9;
  --oc-gray-700: #e2e8f0;
  --oc-gray-600: #cbd5e1;
  --oc-gray-500: #94a3b8;
  --oc-gray-400: #64748b;
  --oc-gray-300: #475569;
  --oc-gray-200: #334155;
  --oc-gray-100: #1e293b;
  --oc-gray-50: #0f172a;
  --oc-gray-10: #020617;

  --oc-text-500: #ffffff;
  --oc-text-400: #cbcdd4;
  --oc-text-300: #9295a5;
  --oc-text-200: #61667c;
  --oc-text-100: #03102f;

  --oc-background-dark: #000000;
  --oc-background-light: #020617;

  --oc-primary-500: #edf2fc;
  --oc-primary-400: #e5eeff;
  --oc-primary-300: #ccdefe;
  --oc-primary-200: #b3cdfe;
  --oc-primary-100: #80acfe;
  --oc-primary-50: #4c8afd;
  --oc-primary-50-tr: #2465de;

  --oc-accent-1-600: #f5f6f9e3;
  --oc-accent-1-500: #f5f6f9;
  --oc-accent-1-400: #ccd4e3;
  --oc-accent-1-300: #a6b3cd;
  --oc-accent-1-200: #8093b8;
  --oc-accent-1-100: #4c689c;
  --oc-accent-1-50: #002771;
  --oc-accent-1-50-tr: #09204a;

  --oc-accent-2-500: #c084fc;
  --oc-accent-2-400: #a855f7;
  --oc-accent-2-300: #9333ea;
  --oc-accent-2-200: #7e22ce;
  --oc-accent-2-100: #6b21a8;
  --oc-accent-2-50: #581c87;
  --oc-accent-2-50-tr: #3b0764;

  --oc-accent-3-500: #f87171;
  --oc-accent-3-400: #ef4444;
  --oc-accent-3-300: #dc2626;
  --oc-accent-3-200: #b91c1c;
  --oc-accent-3-100: #991b1b;
  --oc-accent-3-50: #7f1d1d;
  --oc-accent-3-50-tr: #450a0a;

  --oc-success-500: #4ade80;
  --oc-success-400: #22c55e;
  --oc-success-300: #16a34a;
  --oc-success-200: #15803d;
  --oc-success-100: #166534;
  --oc-success-50: #14532d;
  --oc-success-50-tr: #052e16;

  --oc-warning-500: #facc15;
  --oc-warning-400: #eab308;
  --oc-warning-300: #ca8a04;
  --oc-warning-200: #a16207;
  --oc-warning-100: #854d0e;
  --oc-warning-50: #713f12;
  --oc-warning-50-tr: #422006;

  --oc-error-500: #f87171;
  --oc-error-400: #ef4444;
  --oc-error-300: #dc2626;
  --oc-error-200: #b91c1c;
  --oc-error-100: #991b1b;
  --oc-error-50: #7f1d1d;
  --oc-error-50-tr: #450a0a;

  // waiting dark mode from UI/UX
  --button-primary-default: linear-gradient(180deg, #4179e2 0%, #1f5bcc 100%);
  --button-primary-hover: linear-gradient(180deg, #4179e2 0%, #2f6ddf 100%);
  --button-primary-pressed: linear-gradient(180deg, #3873e1 0%, #4179e2 100%);
  --button-primary-disabled: linear-gradient(180deg, #567fcd 0%, #3662b5 100%);

  --button-secondary-default: linear-gradient(180deg, #fff 0%, #f2f2f2 100%);
  --button-secondary-hover: linear-gradient(180deg, #fff 0%, #fafafa 100%);
  --button-secondary-pressed: linear-gradient(180deg, #f1f1f1 0%, #fff 100%);
  --button-secondary-disabled: linear-gradient(
    180deg,
    #fcfcfc 0%,
    #f7f7f7 100%
  );

  --button-destructive-default: linear-gradient(
    180deg,
    #e44e5c 0%,
    #cc2334 100%
  );
  --button-destructive-hover: linear-gradient(180deg, #e44e5c 0%, #dc3747 100%);
  --button-destructive-pressed: linear-gradient(
    180deg,
    #dc3747 0%,
    #e44e5c 100%
  );
  --button-destructive-disabled: linear-gradient(
    180deg,
    #c66c75 0%,
    #a84851 100%
  );
}
